#desc{
    
    div{
        background-color: #D6D6D6;
        border-radius: 10px;
        margin-left: 60px;
        margin-right: 60px;
        @include md{
            margin-left: 200px;
            margin-right: 200px;
        }
        @include lg{
            margin-left: 300px;
            margin-right: 300px;
        }

        h1{
            border-bottom: 1px solid #9F9F9F;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            padding: 25px;
            @include md{
                font-size: 24px;
                text-align: center;
            }
            @include lg{
                font-size: 26px;
            }
        }

        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            padding-left: 20px;
            padding-right: 20px;
            @include md{
                font-size: 14px;
            }
            @include lg{
                font-size: 18px;
            }
        }

        ul{
            list-style: none;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            @include md{
                font-size: 14px;
            }
            @include lg{
                font-size: 18px;
                line-height: 20px;
            }
            
        }
    }
}

#back{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    a{
        color: black;
        @include md{
            font-size: 16px;
        }
    }
    @include lg{
        padding-bottom: 20px;
        a{
            font-size: 20px;
        }
    }
}