/* =============
    Base
============= */

ul{
    padding: 0;
    margin: 0;
}
.productimg{
    width: 270px;
    height: 109.38px;
    @include md{
        width: 360px;
        height: auto;
    }
    @include lg{
        width: 450px;
        height: auto;
    }
    // width: 100%;
}

.navlogo {
            width: 165px;
            height: 65px;
    
            @include md{
              width: 180px;
              height: 80px;
            }
            @include lg{
              width: 200px;
              height: auto;
          }
}

// .largeimage{
//     width: 100%;
// }