#customization{
    margin-left: 30px;
    margin-right: 30px;
    h2{
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }
     /* Solid border */
     hr.solid {
        border-top: 1px solid #9F9F9F;
        margin-top: -12px;
        margin-bottom: 15px;
        }

    div{
        ul{
            list-style: none;
            display: grid;
            grid-template-columns: 50% auto;
        }
        li{
            button{
            border-style: none;
            background-color: transparent;
            }
            button:hover{
                filter: brightness(80%);
                // transition: filter 0.3s ease;
                background-color: #FFFF;
                // transition: background-color 0.3s ease;
            }

            img{
                width: 153px;
                height: 98px;
            }
            
            a{
                font-size: 18px;
                line-height: 22px;
                color: black;
            }
        }
    }
}