#mainheader{
    text-align: center;
    h1{
        font-weight: 400;
        font-size: 30px;
    }
    p{
        font-size: 14px;
        line-height: 17px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

#herogallery{
    ul{
        padding-left: 37px;
        padding-right: 37px;
        list-style: none;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "g2 g2"
        "g3 g1"
        "g4 g4";
        }

        li{
            img{
                width: 100%;
            }
        }

        .g1{
            grid-area: g1;
            background-image: url(../img/gallery/gallery1.jpg);
            background-size: cover;
            background-position: center;
        }

        .g2{
            grid-area: g2;
            background-image: url(../img/gallery/gallery2.jpg);
            background-size: cover;
            background-position: center;
        }
        .g3{
            grid-area: g3;
            background-image: url(../img/gallery/gallery3.jpg);
            background-size: cover;
            background-position: center;
        }

        .g4{
            grid-area: g4;
            background-image: url(../img/gallery/gallery4.jpg);
            background-size: cover;
            background-position: center;
        }
        
}
   

    
