/* =============
    Footer
============= */

footer{
    border-top: 1px solid #9F9F9F;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    div{
        ul{
            list-style: none;
            align-items: center;
            display: flex;
            justify-content: space-between;
            li{
                img{
                    width: 60px;
                }
                a{
                    font-weight: 700;
                    font-size: 8px;
                    line-height: 10px;
                    text-decoration: none;
                    color: black;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}