/* =============
    Header
============= */

header{
    h1{
        text-align: center;
        font-weight: 400;
        font-size: 30px;
        line-height: 24px;
        // color: #FFFFFF;
    }

   #sawheader{
    margin: 10px 30px;
    p{
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
   }

}