/* =============
    Header
============= */
nav{
    background-image: url(../img/global/Nav_Image.jpg);
    padding: 10px;
    background-size: cover;
    background-position: center;

    ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            img{
                width: 200px;
            }
            i{
                color: white;
                font-size: 36px;
                // margin-left: 40px;
            }
        }
    }
}