/* =============
    Header
============= */

nav{
    background-image: url(../img/global/Nav_Image.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    .navlogo {
        display: inline-block;
        width: 165px;
        height: 65px;
        margin-left: 60px;
      }

      i{
        float: right;
        color: white;
        font-size: 32px;
        margin-top: 15px;
        margin-right: 18px;
      }
  }