#description{
    background: #D6D6D6;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    @include md{
        margin-left: 90px;
        margin-right: 90px;
        font-size: 16px;
        line-height: normal;
    }
    @include lg{
        margin-left: 200px;
        margin-right: 200px;
        font-size: 20px;
    }

    #top{
        ul{
            list-style: none;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
        }
    }

    #bottom{
        padding-left: 30px;
        padding-right: 20px;
        padding-bottom: 10px;
        li{
            padding-bottom: 10px;
            @include md{
                padding-bottom: 30px;
            }
        }
    }  
}

#back{
    ul{
        text-align: center;
        li{
        margin-top: -10px;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        @include md{
            font-size: 18px;
        }
        @include lg{
            font-size: 22px;
            a{
                font-size: 20px;
            }
        }
        }
    }
}