.title{
    text-align: center;
    h1{
        font-size: 20px;
        line-height: 34px;
        font-weight: 400;
    }
    h3{
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
    }
}

#product{
    margin-left: 60px;
    margin-right: 60px;
    div{
        text-align: center;
        ul{
            justify-content: space-between;
            list-style: none;
            display: flex;
            align-items: center;

        }
    }
        
}
